<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#signupModel">
    Sign Up
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="signupModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="column" id="main">
            <h1>Sign Up </h1>
            <!-- <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3> -->
            <form [formGroup]="SignupForm" >
              <div class="form-group">
                <label for="exampleInputName">First Name</label>
                <input type="name" class="form-control" formControlName="firstName"  placeholder="Name">
                <span *ngIf="f['firstName'].getError('required')!=null && f['firstName'].touched " class="errorMsg">First Name  is required</span>
                <span *ngIf="f['firstName'].getError('minlength')!=null"  class="errorMsg">User name should be alteast 4 letters </span>
              </div>
              <div class="form-group">
                <label for="exampleInputName"> Last Name</label>
                <input type="name" class="form-control" formControlName="lastName"  placeholder="Name">
                <span *ngIf="f['lastName'].getError('required')!=null && f['lastName'].touched " class="errorMsg">Last Name is required</span>

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">E-mail </label>
                <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="E-mail">
                <span *ngIf="f['email'].getError('required')!=null && f['email'].touched " class="errorMsg">Email is required</span>
                <span *ngIf="f['email'].getError('email')!=null && f['email'].touched " class="errorMsg">Invalid Email formet</span>

              </div>
              <div  class="form-group row-6">
                <label >Password</label>
                <input type="password" class="form-control" formControlName="password"  placeholder="Password">
                <span *ngIf="f['password'].getError('required')!=null && f['password'].touched " class="errorMsg">Password is required </span>

              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword"  placeholder="Confirm Password">
                <span *ngIf="f['confirmPassword'].getError('required')!=null && f['confirmPassword'].touched " class="errorMsg">Password is required</span>
                <span *ngIf="f['confirmPassword'].getError('mustMatch')!=null && f['confirmPassword'].touched " class="errorMsg">Password is mismatch</span>
              </div>
              <button type="submit" (click)="signupData()" class="btn btn-outline-danger">Sign Up</button>
            </form  >
          </div>
          <div>
            <svg width="67px" height="578px" viewBox="0 0 67 578" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
              <title>Path</title>
              <desc>Created with Sketch.</desc>
              <g id="Page-1"  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M11.3847656,-5.68434189e-14 C-7.44726562,36.7213542 5.14322917,126.757812 49.15625,270.109375 C70.9827986,341.199016 54.8877465,443.829224 0.87109375,578 L67,578 L67,-5.68434189e-14 L11.3847656,-5.68434189e-14 Z" id="Path" fill="#28c7e0"></path>
              </g>
            </svg>
          </div>
          <div class="column" id="secondary">
            <div class="sec-content">
              <h2>Welcome Back!</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
              <!-- <button type="button" routerLink="/login" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button> -->
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#loginModal">
             Login 
              </button> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Login -->
  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="column" id="main">
            <h1>Login</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
            <form [formGroup]="loginForm" >
              
              <div class="form-group">
                <label for="exampleInputEmail1">E-mail </label>
                <input type="email" class="form-control" formControlName="loginEmail" aria-describedby="emailHelp" placeholder="E-mail">
                <span *ngIf="loginControls['loginEmail'].getError('required')!=null && loginControls['loginEmail'].touched " class="errorMsg">Email is required</span>
                <span *ngIf="loginControls['loginEmail'].getError('email')!=null && loginControls['loginEmail'].touched " class="errorMsg">Invalid Email formet</span>

              </div>
              <div  class="form-group row-6">
                <label >Password</label>
                <input type="password" class="form-control" formControlName="loginPassword"  placeholder="Password">
                <span *ngIf="loginControls['loginPassword'].getError('required')!=null && loginControls['loginPassword'].touched " class="errorMsg">Password is required </span>

              </div>
              
              <button type="submit" (click)="loginData()" class="btn btn-outline-danger">Login</button>
            </form  >
          </div>
          <div>
            <svg width="67px" height="578px" viewBox="0 0 67 578" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
              <title>Path</title>
              <desc>Created with Sketch.</desc>
              <g id="Page-1"  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M11.3847656,-5.68434189e-14 C-7.44726562,36.7213542 5.14322917,126.757812 49.15625,270.109375 C70.9827986,341.199016 54.8877465,443.829224 0.87109375,578 L67,578 L67,-5.68434189e-14 L11.3847656,-5.68434189e-14 Z" id="Path" fill="#28c7e0"></path>
              </g>
            </svg>
          </div>
          <div class="column" id="secondary">
            <div class="sec-content">
              <h2>Welcome Back!</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
              <!-- <button type="button" routerLink="/login" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button> -->
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#signupModel">
                Signup 
                 </button> 
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  