











.errorMsg{
  color: red;
}
/* lending page css */
.slide{
  background-image: url(../../../assets/images/LoginPoster.png);
  background-size: contain;
  height: 650px;
  background-repeat: no-repeat;
background-position: left;

}

.imgBack{
  height: 750px !important;
  margin-top: -100px !important;
}

.loveCircle{
  background-image: url(../../../assets/images/circle.png);
  background-size: cover;
  height: 1000px;
  background-repeat: no-repeat;
background-position: center;
}

.instant{
  text-shadow: 2px 9px 20px #ff0000;
}

#lineCurve{
  text-decoration: wavy underline  #ff0000; /* Curved lines ke liye text-decoration property ka istemal kiya gaya hai */
  text-underline-position: under; /* Underline ko word ke nichle position par laane ke liye text-underline-position property ka istemal kiya gaya hai */
}

.imgHeartBeat{
  width: 150px;
}

#percent{
  font-size: 1.5rem;
  font-weight: 700;
}


/* form */
body {
 
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.form {
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  background: inherit;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgb(210, 42, 42);
  color: rgba(23, 7, 7, 0.671);
}

.form label::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid rgba(240, 78, 78, 0.272);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  right: 0px;

  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: rgba(222, 92, 148, 0.877);
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}


.paragraph{
  float: right !important;
}