<div class="container slide">
    
    <div class="row d-flex justify-content-center">
       
        <div class="col-8 mt-5 p-5 paragraph">
            <span class="text-danger">Because you Deserve <span id="lineCurve">Better!</span></span>
            <h1 class="mb-5">Dating in your
                <br/>
               <span class="text-danger" style="font-weight: 800;"> Favorite </span> <span class="instant">Instant</span> 
                <br/>
                <span class="text-danger"  style="font-weight: 800; "> Messengers!</span>
            </h1>

            <span class="mt-3" style="font-size: 1.5rem;">
                it is a long established fact that a reader <br>
                will be distracted by the readable content.
            </span>

            <div class="joinNow mt-5">
                <button class="btn btn-danger text-white">JOIN NOW <i class="fa-solid fa-arrow-right"></i></button> &nbsp; &nbsp; <span class="text-dark  " id="percent">99%   </span> <img src="./../assets/images/heartbeat.png" class="imgHeartBeat" />
            </div>
        </div>



        <div class="col-3 bg-warning imgBack" style="z-index: -999 !important;"  >
          
        </div>
    </div>
</div>