.profilePhoto{
    margin-top: -90px !important;
    border: 3px solid white;
    height: 200px;
    width: 80%;
}

.profilePhoto img{
    height: 14vh !important;
    width:  14vw !important;
}

.btnHover .btn{
    background-color: rgba(128, 128, 128, 0.076);
}

.btnHover .btn:hover{
    background-color: #ffe10044;
    box-shadow: 10px 10px 3px #ff000044;
}

.active{
    background-color: #ffe10044;
    box-shadow: 10px 10px 3px #ff000044;
}

.coverPhoto{
    background-color: black;
    height: 350px;
}