<div class="container-fluid mt-3" >

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <div class="coverPhoto rounded-4" >
                <div class="coverPictureIcon text-center">
                    <i class="bi bi-pencil-square mt-5 p-2" ></i>
                </div>
            </div>
        </div>

        <div class="row text-end profilFrame d-flex  bg-light rounded-pill shadow">
            <div class="col-2 profilePicture mt-2 mb-2 m-1 rounded-circle ">
                
                <div class="profilePictureIcon text-center ">
                    <i class="bi bi-pencil-square mt-2" ></i>
                </div>
            </div>


            <div class="col-9 mt-2 mb-2 m-1 ">


<div class="col-12 profileName text-start mx-5 mt-2 mb-2">
    <h2><b>Jannie Born</b></h2>
    <p class="textdanger">Software Engineer</p>
</div>



                <div class="col-10 d-flex justify-content-evenly btnHover mt-5 mb-3 pt-3 text-start ">
                <div class="  col-2 ">
                    <a class="btn btn-outline-danger btn-sm" (click)="About()" [ngClass]="about ? 'active' : 'inactive'">About</a>
                </div>
    
                
                <div class=" col-2">
                <a class="btn btn-outline-danger btn-sm" (click)="Photos()" [ngClass]="photos ? 'active' : 'inactive'">Photos</a>
                </div>
    
                
                <div class=" col-2">
                    <a class="btn btn-outline-danger btn-sm" (click)="Profile()" [ngClass]="profile ? 'active' : 'inactive'">Edit Profile</a>
                </div>
    
                
                <div class=" col-2">
                    <a class="btn btn-outline-danger btn-sm" (click)="Setting()" [ngClass]="setting ? 'active' : 'inactive'">Setting</a>
                </div>

            </div>
            </div>
          
        </div>
    </div>
</div>


<div class="container mt-3 mb-4">
    <div class="row">
        <!-- <div class="col-6  d-flex justify-content-evenly btnHover ">
            
            <div class="  col-2 ">
                <a class="btn" (click)="About()" [ngClass]="about ? 'active' : 'inactive'">About</a>
            </div>

            
            <div class=" col-2">
            <a class="btn " (click)="Photos()" [ngClass]="photos ? 'active' : 'inactive'">Photos</a>
            </div>

            
            <div class=" col-2">
                <a class="btn" (click)="Profile()" [ngClass]="profile ? 'active' : 'inactive'">Edit Profile</a>
            </div>

            
            <div class=" col-2">
                <a class="btn" (click)="Setting()" [ngClass]="setting ? 'active' : 'inactive'">Setting</a>
            </div>
        </div> -->



        <div class="col-12" *ngIf="photos">
            <h4>Photos</h4>
            <hr>

            <div class="row d-flex  justify-content-center ">
                
                <div class="col-2 bg-warning m-1 rounded-4">
                    <img class="img-fluid" src="../../../assets/images/heartbeat.png" style="height: 100px !important; width: 100px !important; " />
                </div>
                <div class="col-2 bg-warning m-1 rounded-4">
                    <img class="img-fluid" src="../../../assets/images/heartbeat.png" style="height: 100px !important; width: 100px !important; " />
                </div>

                <div class="col-2 bg-warning m-1 rounded-4">
                    <img class="img-fluid" src="../../../assets/images/heartbeat.png" style="height: 100px !important; width: 100px !important; " />
                </div>
                <div class="col-2 bg-warning m-1 rounded-4">
                    <img class="img-fluid" src="../../../assets/images/heartbeat.png" style="height: 100px !important; width: 100px !important; " />
                </div>

                <div class="col-2 bg-warning m-1 rounded-4">
                    <img class="img-fluid" src="../../../assets/images/heartbeat.png" style="height: 100px !important; width: 100px !important; " />
                </div>
                <div class="col-2 bg-warning m-1 rounded-4">
                    <img class="img-fluid" src="../../../assets/images/heartbeat.png" style="height: 100px !important; width: 100px !important; " />
                </div>

                <div class="col-2 bg-warning m-1 rounded-4">
                    <img class="img-fluid" src="../../../assets/images/heartbeat.png" style="height: 100px !important; width: 100px !important; " />
                </div>
                <div class="col-2 bg-warning m-1 rounded-4">
                    <img class="img-fluid" src="../../../assets/images/heartbeat.png" style="height: 100px !important; width: 100px !important; " />
                </div>
            </div>
         
        </div>

        <div class="col-12"  *ngIf="about">
            <h4>About Profile</h4>
            <hr>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum minus ipsam recusandae inventore temporibus aliquid, corporis voluptates dolore eligendi vitae nihil nam expedita, totam perspiciatis at praesentium consectetur itaque ex!</p>
        </div>

        <div class="col-12"  *ngIf="profile">
            <h4>Edit Profile</h4>
            <hr>

<div class="form-group mb-2 mt-2">
    <input type="text" class="form-control" name="" id="" >
</div>

<div class="form-group mb-2 mt-2">
    <input type="text" class="form-control" name="" id="" >
</div>



<div class="form-group mb-2 mt-2">
    <input type="text" class="form-control" name="" id="" >
</div>


<div class="form-group mb-2 mt-2">
    <input type="text" class="form-control" name="" id="" >
</div>

<div class="form-group mb-2 mt-2">
    <input type="text" class="form-control" name="" id="" >
</div>

<div class="form-group mb-2 mt-4 text-end">
   <button class="btn btn-danger">Update Profile</button>
</div>

</div>

        <div class="col-12 "  *ngIf="setting">
            <h4>Setting</h4>
            <hr>
<div class="d-flex ">
            <div class="settingGroup m-2">
                <button class="btn btn-outline-danger">Dark Theme</button>
            </div>

            
            <div class="settingGroup m-2">
                <button class="btn btn-outline-danger">Change Cover Photo</button>
            </div>
            
            <div class="settingGroup m-2">
                <button class="btn btn-outline-danger">Log out</button>
            </div>
        </div>
        </div>
    </div>
</div>

</div>